header {
    padding: 20px;
    background-color: #FFFFFF;
    color: #000000;
    font-family: 'Zen Antique Soft', serif;
    font-size: 22px;
    font-style: normal;
    border: 2px solid red;
    display: flex;
    flex-direction: row;
    
}

header h1 {
    display: flex;
    border: 2px solid orange;
    margin: auto;
    text-align: center;
}

header div{
    display: flex;
    flex-direction: column;
    border: 2px solid pink;
}

header div a svg{
    padding: 10px;
}

body {
    font-family: 'Zen Antique Soft', serif;
    margin: 0 60px 20px 60px;
    padding: 0;
}

.icon-header {
    display: flex;
    align-items: center; 
    text-decoration: none; 
    color: inherit; 
    font-size: 14px;
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    font-family: 'Zen Antique Soft', serif;
    border-bottom: 1px solid rgba(0, 0, 0, 0.75);
    
}

.menu a {
    text-decoration: none;
    color: #000000;
    font-size: 14px;
    margin: 0 70px;
}

.menu a:hover {
    color: #007BFF;
}

.banner {
    width: 100%; 
    height: 500px; 
    overflow: hidden; 
    position: relative; 
}

.banner img {
    width: 100%; 
    height: 100%; 
    object-fit: contain;
    margin-top: 50px;
    transition: opacity 0.5s ease;
}

.banner img.hidden {
    opacity: 0;
}

.arrow-icon {
    font-size: 24px;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #007BFF;
    z-index: 2;
    transition: color 0.3s ease;
}

#arrow-left {
    left: 20px;
}

#arrow-right {
    right: 20px;
}

.arrow-icon:hover {
    color: #FF5733;
}

.tag-menu {
    border: 2px solid yellow;
    height: 100px;
}