<div class="header">
    <div class="header-content">
        <a class="header-content-a"><p class="header-content-p">LILY OF THE VALLEY</p>
        <div class="icon-div-header">
            <a class="icon-header icon-search">
                <img src="../assets/search.png" alt="Girl in a jacket">
            </a>
            <a class="icon-header icon-profile" id="icon-profile">
                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                    <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                    <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
                </svg>
            </a>
            <a class="icon-header icon-shopBag">
                <img src="../assets/shopbag.png" alt="Girl in a jacket">
            </a>     
        </div>
    </div>
    
    <div class="menu">
        <a class="menu-fragrances" >FRAGRANCES</a>
        <a class="menu-collections">COLLECTIONS</a>
        <a class="menu-boutiques">BOUTIQUES</a>
        <a class="menu-ourHouse">OUR HOUSE</a>
        <a class="menu-classicEssential">CLASSIC ESSENTIAL</a>
    </div>
</div>

