header {
    display: flex;
    background-color: #FFFFFF;
    color: #000000;
    font-family: 'Zen Antique Soft', serif;
    font-size: 60px;
}

body {
    font-family: 'Zen Antique Soft', serif;
    padding: 0;
}

.tag-menu p {
    font-family: 'Zen Antique Soft', serif;
    font-size: 12px;
    padding-left: 5%;
}

.banner {
    display: flex;
    flex-direction: row;
    padding-left: 5%;
}

.banner p {
    display: flex;
    font-size: 35px;
    margin: auto;
    align-items: center;
    
}

.collection-detail hr{
    margin: 50px 0 50px 0;
}

.header-text-collection {
    display: flex;
    justify-content: center;
    font-size: 22px;
    font-weight: bold;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px; 
}
  
.product {
    padding: 20px;
    text-align: center;
    margin: 10px;
}

.product:hover {
    border: 1px solid #ccc; 
}

.product img {
    max-width: 100%; 
    max-height: 100%; 
}

.product-type {
    color: #999;
    font-size: 16px;
}

.product-name {
    font-size: 18px;
}

footer {
    clear: both;
    width: 100%;
    height: 300px;
    background-color: #14213D;
}