header {
    display: flex;
    background-color: #FFFFFF;
    color: #000000;
    font-family: 'Zen Antique Soft', serif;
    font-size: 60px;
}

body {
    font-family: 'Zen Antique Soft', serif;
    padding: 0;
}

.tag-menu p {
    font-family: 'Zen Antique Soft', serif;
    font-size: 12px;
    padding-left: 5%;
}

.photo-image {
    float: left;
    width: 50%;
}

.photo-image img {
    margin-left: 2%;
}

.product-detail {
    float: right;
    width: 50%;
    margin-top: 15%;
}

.product-detail p {
    font-family: 'Zen Antique Soft', serif;
    margin: 0;
}

.type-collection {
    color: #b2b2b2;
    display: flex;
    flex-direction: row;
    font-size: 22px;
    margin: 0 0 10px 0;
}

.type-collection .hyphen {
    margin-left: 1%;
    margin-right: 1%;
}

.product-detail .name {
    font-size: 24px;
    margin: 0 0 40px 0;
}

.product-detail .size {
    font-size: 20px;
}

.size-button {
    font-family: 'Zen Antique Soft', serif;
    border: 2px solid lightgray; 
    padding: 10px 30px; 
    margin: 5px 5px 0 0;
    cursor: pointer;
    background-color: #FFFFFF;
}

.size-button.clicked {
    font-family: 'Zen Antique Soft', serif;
    border: 2px solid black; 
}

.div-size-btn {
    margin: 0 0 30px 0;
}

.add-button {
    font-family: 'Zen Antique Soft', serif;
    font-size: 16px;
    width: 45%;
    height: 45px;
    cursor: pointer;
    border-radius: 5px;
    background-color: #14213D;
    color: #FFFFFF;
}

footer {
    clear: both;
    width: 100%;
    height: 300px;
    background-color: #14213D;
}