.tag-menu p {
    font-family: 'Zen Antique Soft', serif;
    font-size: 12px;
    padding-left: 5%;
}

.div-tab-menu {
    display: flex;
    padding-left: 5%;
}

.tab-menu {
    width: 15%;
    color: #fff;
}

.tab-menu ul {
    padding: 0;
}

.tab-menu li {
    display: flex;
    border: 1px solid #ccc;
    border-bottom: none;
}

.tab-menu li:last-child {
    border-bottom: 1px solid #ccc !important;
}

.tab-menu a {
    padding: 10% 5% 10% 5%;
    text-decoration: none;
    font-family: 'Zen Antique Soft', serif;
    color: #000000;
    font-size: 16px;
    
}

.tab-menu img {
    float: right;
}

.content {
    padding: 2.5%;
}

.content h2 {
    margin-top: 0;
}

.content div {
    display: none;
    
}

.content div.active {
    display: flex;
}

.data-menu1-heigth {
    height: 250px;
}

.data-menu2-heigth {
    height: 500px;
}

.data-menu {
    display: flex;
    flex-direction: column;
    
}

.data-menu span {
    font-weight: 18px;
    font-weight: 600;
    
}

.nav-menu {
    display: flex;
    align-items: center;
}

.nav-menu span {
    font-size: 18px;
    font-weight: 600;
}

.ul-container {
    display: flex;
    padding: 0;
    width: 500px;
}

.ul-container li {
    border: 1px solid #ccc;
    height: 30%;
}

.ul-container input {
    border: 1px solid #ccc;
    height: 28%;

}

.ul-left{
    padding: 0;
    list-style: none;
    white-space: nowrap;
    width: 30%;
}

.ul-left li {
    display: flex;
    padding-left: 2%;
    align-items: center;
    font-size: 16px ;
    font-weight: bold;
}

.ul-right {
    padding: 0;
    list-style: none;
    width: 70%;
    text-align: center;
}

.ul-right li{
    display: flex;
    padding-left: 2%;
    align-items: center;
    font-size: 16px ;
}

.ul-right input{
    display: flex;
    padding-left: 2%;
    padding-top: 0.4%;
    align-items: center;
    font-size: 16px ;
    width: 97%;
    font-family: 'Zen Antique Soft', serif;
    font-size: 14px;
    color: #000;
}

.ul-right input:disabled {
    color: #aaa;
}


.edit-button {
    align-items: center;
    display: block;
    color: #000;
    text-align: center;
    background-color: rgb(255, 255, 255);
    border-color: #000;
    border-radius: 0.25rem;
    padding: 0.3rem 0.5rem;
}

.button-edit {
    text-decoration: none;
    margin-left: 2%;
    transition: all .2s;
    max-width: fit-content;
}

.button-edit:hover {
    text-decoration: none;
    transform: translate(-1px,-1px);
}

.edit-span {
    font-family: 'Zen Antique Soft', serif;
    font-weight: 600;
    font-size: 14px !important;
}

.form {
    padding-top: 2%;
}

.input-group {
    display: flex;
}

.form span {
    display: flex;
    padding-top: 2%;
}

.form input {
    width: 300px; 
    padding: 10px; 
    margin: 5px; 
    border: 1px solid #ccc; 
    font-size: 16px; 
}

.form button {
    width: 50%;
    height: 10%;
    font-family: 'Zen Antique Soft', serif;
    border: 1px solid #ccc; 
    margin-top: 2%;
    margin-left: 51%;
    background-color: #14213D;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.nav-show-address {
    display: flex;
    margin-top: 2%;
    border-left: 2px solid #aaa;
    border-right: 2px solid #aaa;
    border-bottom: 2px solid #aaa;
}

.column-address {
    width: 250px;

}

.column-address p {
    margin: 0;
}

.column-text-header {
    font-size: 18px;
    padding: 3%;
    border-top: 2px solid #aaa;
    border-right: 2px solid #aaa;
    border-bottom: 2px solid #aaa;
    background-color: #eee;
}

.column-text-header-last {
    font-size: 18px;
    padding: 3%;
    border-top: 2px solid #aaa;
    border-right: none;
    border-bottom: 2px solid #aaa;
    background-color: #eee;
}

.column-text-body {
    font-size: 16px;
    padding: 5%;
}

.button-submit {
    width: 30%;
    height: 19%;
    font-family: 'Zen Antique Soft', serif;
    border: 1px solid #ccc; 
    margin-top: 2%;
    margin-left: 70%;
    background-color: #14213D;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

table {
    
    margin: 5%;
    padding: 0;
    width: 60%;
    border-collapse: collapse;
    border: 2px solid black;
}

th, td {
    padding: 0 0 1% 100px;
}

th {
    margin: 0;
    color: #aaa;
    padding-right: 50px;
}

/* ปรับขนาดของรายการสินค้าทั้งหมดในตาราง */
.fetch-table td {
    font-size: 14px; 
    padding-left: 5%; 
    text-align: center;
}

/* ปรับขนาดรูปภาพสินค้า */
.fetch-table img {
    max-width: 150px; 
    max-height: 150px;
}

















